header {
    width: auto;
    height: 110px;
    background-color: #54777d;
}

header nav {
    width: 883px;
    margin: auto;
}

header nav ul {
    width: auto;
    padding-left: 0;
}

header nav ul a {
    display: inline-block;
    text-decoration: none;
    color: lightgrey;
}
header nav ul li {
    display: inline-block;
    text-decoration: none;
    color: lightgrey;
    font-size: 17px;
    padding-right: 25px;
    padding-left: 25px;
}

header nav ul li a {
    width: 110px;
    text-align: center;
}

#logo_header {
    height: 100px;
    padding: 5px 25px;
}