/* CSS MAIN */

main {
    height: 575px;
    width: 100%;
}

#temp {
    width: 500px;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: auto;
}

#movie{
  margin-left: 410px;
  margin-top: 85px;
  margin-right: auto;

}
